/* Big tablet: width smaller that 1440px */
@media only screen and (max-width: 1200px) {
  .header__text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}
/* Small tablet to big tablet: from 769px to 1024px */
@media only screen and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  
  .header__text-box{
      padding-left: 5%;
  }
  .header__logo{
      padding-left: 5%;
  }
  .header__nav li {
    margin-left: 20px;
}
.header__nav li:last-of-type {
    margin-right: 40px;
}
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-child {
    margin-top: 10px;
  }
  .works-step {
    margin-bottom: 40px;
  }
  .works-step:last-of-type {
    margin-bottom: 60px;
  }
  .app-screen {
    width: 50%;
  }
  .icon-small {
    width: 17px;
    margin-right: 5px;
  }
  .city-feature {
    width: 90%;
  }
  .plan-box {
    width: 100%;
    margin-left: 0%;
  }
  .plan-price {
    font-size: 250%;
  }
  .contact-form {
    width: 80%;
  }
}
/* Small phone to small tablet: from 426px to 768px  */
@media only screen and (max-width: 768px) {
   section {
    padding: 30px 0;
  }
  .header__nav {
    padding-bottom: 60px;
    margin: 0;
  }
  .header__nav{
    padding: 3% 0 3% 0;
    
}
.header__nav li {
  margin-left: 14px;
}
.header__nav li:last-of-type {
    margin-right: 20px;
  }

.header__nav li a:link,
.header__nav li a:visited {
  font-size: 70%;
}
.header__logo{
    padding-left: 0%;
}
    .row,
  .header__text-box {
    padding: 0 8%;
  }
  .header__text-box a{
      margin-top: 10px;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  .long-copy {
    width: 100%;
    margin-left: 10%;
  }
  h1{
      font-size: 220%;
  }
  h2{
      font-size: 150%;
  } 
  .app-screen{width: 40%;}
  .steps-box:first-child{
      text-align: center;
  }
  
  .works-step {
    margin-bottom: 20px;
  }
  .works-step:last-of-type {
    margin-bottom: 20px;
  }
  .works-step div{
    height: 40px;
    margin-right: 15px;
    padding: 4px;
  }

}

/* Small phone to small tablet */
@media only screen and (max-width: 425px){
    h1{
        font-size: 150%;
    }
    h1 span{
        font-size: 80%;
    }
    .header__nav {
        display: none;
      }
      .btn:link,
      .btn:visited,
      input[type=submit]{
           padding: 10px 0px;
          width: 40%;
          font-weight: 300;
          
      }

}


/* Small phone*/
@media only screen and (max-width: 375px) {
   .header__text-box{
       font-size: 80%;
   }
   .header__text-box a{
       margin-top: 15px;
   }
    .btn:link,
.btn:visited,
input[type=submit]{
    padding: 5px 15px;
    font-size: 80%;
}
    section{
        padding: 25px 0;
    }
    .contact-form{
        width: 100%;
    }
}

/* Very small phone */
@media only screen and (max-width: 325px){
    .header__text-box span{
        font-size: 70%;
    }
}